{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Prisijungti nepavyko, bandykite dar kartą.</p>
  {% endif %}
  
  {% if next %}
      <p>Prisijunkite prie puslapio.</p>
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Vartotojo vardas: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Slaptažodis: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Prisijungti" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p><a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a></p>
  
{% endblock %}