{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h1>Suppliers contacts</h1>
    <div>
        <br>
        <br>
        <h2>
            Royal Canin
        </h2>
        <h3>
            (800) 592-6687 <br>
            info@royalcanin.com
        </h3>
        <a href="https://www.facebook.com/royalcanin.lietuva/?brand_redir=234739369891224">Facebook</a>.
        <br>
        <br>
    </div>

        <div>
        <h2>
            Hills
        </h2>
        <h3>
            (800) 533-1414 <br>
            info@hillspet.com
        </h3>
        <a href="https://www.facebook.com/HillsPetLietuva">Facebook</a>.
    </div>
</div>

{% endblock %}