{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
<h1>Welcome to Paws</h1>

    <br>
    <br>

<h2>Online catalogue of Royal Canin and Hills therapeutic food for cats</h2>

    <br>
    <br>

    <p>On our page, you can see what therapeutic foods the "Royal Canin" and the "Hills" can offer for your cat. </p>

    <img src="{% static 'img/indexx.jpg' %}" alt="" width="1300" height="600"
                 class="d-inline-block align-text-top">


</div>

{% endblock %}